node_modules/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
.vuepress/.cache/
.vuepress/.temp/
.vuepress/dist/

.DS_Store
.idea/
.vscode/
*.cpuprofile
*.local
*.log
*.pdf
.eslintcache
.direnv/
.pre-commit-config.yaml
